@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTStd-Th.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTStd-Md.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Olivetti";
  src: url("../fonts/Olivetti Type2.ttf");
}
html {
  --font-body: "Helvetica Neue";
  --font-display: "Olivetti";
  --font-size-large: 2em;
  --font-size-medium-large: 1.5em;
  --font-size-small: 0.85em;
  --color-black: #333;
  --color-white: #eee;
  --color-pure-black: #000;
  --color-pure-white: #fff;
  --s05: 0.5em;
  --s075: 0.75em;
  --s1: 1em;
  --s2: 2em;
  --s3: 3em;
  --panel-wide-large: 60%;
  --panel-wide-larger: 80%;
  --panel-wide-small: 40%;
  --panel-wide-smaller: 20%;
}

body {
  --background-color: var(--color-white);
  --foreground-color: var(--color-black);
}

body.dark-theme {
  --background-color: var(--color-black);
  --foreground-color: var(--color-white);
}

body.dark-theme-pure-colors {
  --background-color: var(--color-pure-black);
  --foreground-color: var(--color-white);
}

body.light-theme-pure-colors {
  --background-color: var(--color-pure-white);
  --foreground-color: var(--color-black);
}

body {
  color: var(--foreground-color);
  font-family: var(--font-body);
  background-color: var(--background-color);
  margin: 0;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.big-display-link:link, .big-display-link:visited, .big-display-link:hover, .big-display-link:active {
  font-family: var(--font-display);
  font-size: var(--font-size-large);
  text-decoration: none;
  text-transform: uppercase;
}

.large-highlighted-link {
  text-decoration: none;
  font-size: var(--font-size-medium-large);
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.menu-link-1 {
  text-decoration: none;
}
.menu-link-1:hover, .menu-link-1--is-active {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.menu-link-2 {
  text-decoration: none;
}
.menu-link-2:hover, .menu-link-2--is-active {
  font-weight: bold;
  padding-left: var(--s2);
}

.fading-fullscreen-slider {
  width: 100%;
  height: 100vh;
}

.l-cluster {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--s1));
  margin-top: calc(-1 * var(--s1));
}
.l-cluster > * {
  margin-left: var(--s1);
  margin-top: var(--s1);
}

.l-two-layers {
  position: relative;
  width: 100%;
}
.l-two-layers > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.l-two-layers--fixed-background > *:nth-child(1) {
  position: fixed;
}
.l-two-layers--fixed-foreground > *:nth-child(2) {
  position: fixed;
}

.l-container {
  width: calc(100% - var(--s2) * 2);
  margin-left: var(--s2);
}

.l-stack > * + * {
  margin-top: var(--s1);
}
.l-stack--tightly-spaced > * + * {
  margin-top: var(--s075);
}

.l-fullscreen-box {
  width: 100%;
  height: 100vh;
  display: flex;
}

.l-center-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center-box--center-left {
  justify-content: flex-start;
}

.l-fullscreen-two-panels {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
.l-fullscreen-two-panels > *:nth-child(1) {
  width: var(--panel-wide-large);
}
.l-fullscreen-two-panels > *:nth-child(2) {
  width: var(--panel-wide-small);
}
.l-fullscreen-two-panels--narrower > *:nth-child(1) {
  width: var(--panel-wide-larger);
}
.l-fullscreen-two-panels--narrower > *:nth-child(2) {
  width: var(--panel-wide-smaller);
}
.l-fullscreen-two-panels--narrow-left > *:nth-child(1) {
  width: var(--panel-wide-smaller);
}
.l-fullscreen-two-panels--narrow-left > *:nth-child(2) {
  width: var(--panel-wide-larger);
}

.l-two-panels {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.l-two-panels > *:nth-child(1) {
  width: var(--panel-wide-large);
}
.l-two-panels > *:nth-child(2) {
  width: var(--panel-wide-small);
}
.l-two-panels--narrower > *:nth-child(1) {
  width: var(--panel-wide-larger);
}
.l-two-panels--narrower > *:nth-child(2) {
  width: var(--panel-wide-smaller);
}
.l-two-panels--narrow-left > *:nth-child(1) {
  width: var(--panel-wide-smaller);
}
.l-two-panels--narrow-left > *:nth-child(2) {
  width: var(--panel-wide-larger);
}

.u-non-decorated-list {
  list-style: none;
  padding-left: 0;
}

.full-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.full-cover-image--left-anchor {
  object-position: 0 center;
}

.full-sized-image--vertical {
  width: 100vw;
}
.full-sized-image--horizontal {
  height: 100vh;
}

.u-align-right {
  text-align: right !important;
}

.u-no-margin {
  margin: 0 !important;
}

.u-no-pointer-events {
  pointer-events: none !important;
}

.u-all-pointer-events {
  pointer-events: all !important;
}

.u-font-size-small {
  font-size: var(--font-size-small);
}

.cft-post-arrow {
  position: fixed;
  height: 70px;
  width: 70px;
  top: 50vh;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 0 var(--s2);
}
.cft-post-arrow--left {
  left: 0;
  background-image: url("../img/arrow-left-black.svg");
}
.cft-post-arrow--right {
  right: 0;
  background-image: url("../img/arrow-right-black.svg");
}