@charset "UTF-8";
@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/CooperHewitt-light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/CooperHewitt-medium.otf");
  font-weight: bold;
}

html {
  color: #000;
  font-family: "Cooper Hewitt", sans-serif;
  --espacio1: 20px;
  --espacio2: 40px;
  --espacio3: 60px;
}

html body.color-negativo {
  color: #fff;
}

body {
  margin: 0;
}

body.color-negativo {
  background-color: #000;
}

.screen-readers {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header-principal {
  display: flex;
  flex-direction: column;
  min-height: 4em;
  margin-bottom: 20px;
}

.header-principal > * + * {
  padding-top: 20px;
}

.header-principal .menu-mdr {
  align-self: flex-start;
}

.header-principal h1 {
  text-transform: uppercase;
  margin: 0;
}

.header-principal div > * + * {
  display: block;
  padding-top: 20px;
}

.header-principal nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.header-principal nav ul > * + * {
  padding-left: 20px;
}

.header-principal a {
  text-decoration: none;
}

.header-principal a.active {
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .header-principal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header-principal > .menu-mdr {
    order: 100;
    text-align: right;
  }
}

body.color-negativo .header-principal a {
  text-decoration: none;
}

body.color-negativo .header-principal a.active {
  background-color: #fff;
  color: #000;
}

a:link, a:visited, a:hover, a:active {
  color: #000;
}

body.color-negativo a:link, body.color-negativo a:visited, body.color-negativo a:hover, body.color-negativo a:active {
  color: #fff;
}

.typewrite-large {
  font-size: 2em;
}

.viewport {
  position: relative;
}

.viewport.is-restricted {
  height: 90vh;
  overflow: hidden;
}

.viewport .texto-home {
  font-family: "Cutive Mono", monospace;
  text-align: center;
  max-width: 100%;
}

.viewport .texto-home.is-hidden {
  display: none;
}

.viewport .texto-home > p {
  width: 100%;
  min-height: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.texto-home {
  font-family: "Cutive Mono";
}

.botones-home {
  height: 10vh;
}

.botones-home button {
  border: none;
  background: none;
  font-family: "Cutive Mono", monospace;
  cursor: pointer;
  font-size: 0.7em;
}

.home button {
  font-family: "Cutive Mono", monospace;
  color: #aaa;
  background: none;
  border: none;
  font-size: 1em;
}

.home .botones {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-size: 0.7em;
  z-index: 10000;
}

.seleccion-de-obras a {
  transform-origin: right;
  transform: translate(var(--offsetX), var(--offsetY));
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
}

.seleccion-de-obras a h3 {
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.seleccion-de-obras a > * + * {
  padding-left: 20px;
}

.seleccion-de-obras a:hover * {
  background-color: #000;
  color: #fff;
}

.seleccion-de-obras ul.grilla-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 0;
  padding-left: 0;
}

.seleccion-de-obras ul.grilla-base > * {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .seleccion-de-obras ul.grilla-base > * {
    width: 40%;
  }
}

.seleccion-de-obras ul.artistas {
  list-style: none;
}

.scrambled-text {
  margin-top: 57vh;
  font-family: "Cutive Mono";
  font-size: 0.9em;
  color: #888;
  opacity: 0.65;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  text-align: center;
}

.scrambled-text * {
  position: absolute;
  transform: translate(var(--offsetX), var(--offsetY));
}

.scrambled-text p {
  max-width: 40vw;
  line-height: 1em;
}

.footer-ficciones-y-obras {
  text-align: center;
  margin-top: 20px;
}

.grilla-bios {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .grilla-bios > * {
    width: calc(50% - var(--espacio1));
  }
}

.bio {
  display: flex;
  flex-direction: column;
}

.bio img {
  padding-bottom: 20px;
  object-fit: contain;
  object-position: top;
}

.bio h3 {
  margin: 0;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .bio {
    flex-direction: row;
  }
  .bio .texto-bio {
    padding-left: 20px;
  }
  .bio img {
    width: 33%;
    height: 100%;
  }
}

.l-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.l-cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l-cover .l-cover-main {
  flex-grow: 1;
}

.l-stack {
  padding-top: 20px;
}

.l-stack > * {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.l-cluster .l-cluster__inner {
  margin-left: -20px;
  margin-top: -20px;
}

.l-cluster .l-cluster__inner > * {
  margin-left: 20px;
  margin-top: 20px;
}

/*CREADAS EN UN SANDBOX. Se van a integrar después al resto del código*/
.l-series-100vh {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-series-100vh img {
  height: 100vh;
}

.l-series-invencion {
  display: flex;
  flex-wrap: wrap;
}

.l-series-invencion p {
  text-align: center;
  margin: auto;
}

.l-series-invencion .grilla {
  width: 100%;
}

.l-series-invencion .grilla__internal {
  margin-left: -20px;
  margin-top: -20px;
}

.l-series-invencion .grilla__internal > * {
  margin-left: 20px;
  margin-top: 20px;
  background-color: red;
  width: calc(33% - 20px);
  height: 20em;
}

.l-series-seccion-espaciada {
  margin-top: 60px;
}

.l-series-grilla-fotos__internal {
  margin-left: -20px;
  margin-top: -20px;
}

.l-series-grilla-fotos__internal img {
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #eee;
  width: calc(100% - 20px);
  height: 30em;
}

@media screen and (min-width: 800px) {
  .l-series-grilla-fotos__internal img {
    width: calc(50% - 20px);
  }
}

.l-series-panel-dos-imagenes__internal {
  margin-left: -20px;
  margin-top: -20px;
}

.l-series-panel-dos-imagenes__internal img {
  width: calc(100% - 20px);
  height: 30em;
  background-color: #ddd;
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .l-series-panel-dos-imagenes__internal img {
    width: calc(50% - 20px);
  }
}

.l-series-lista .item {
  margin-top: 20px;
  display: flex;
}

.l-series-lista .item img {
  width: calc(50% - 20px);
  height: 500px;
  margin-right: 20px;
  background-color: #eee;
  object-fit: cover;
}

.l-series-lista .texto {
  width: calc(50% - 20px);
  align-self: end;
}
