@charset "UTF-8";
@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/CooperHewitt-light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/CooperHewitt-medium.otf");
  font-weight: bold;
}

.centrado {
  text-align: center;
}

.centrado-margenes {
  margin: auto;
}

.sin-margenes {
  margin: 0;
}

.negrita {
  font-weight: bold;
}

.italica {
  font-style: italic;
}

html {
  color: #000;
  font-family: "Cooper Hewitt", sans-serif;
  --espacio1: 20px;
  --espacio2: 40px;
  --espacio3: 60px;
}

html body.color-negativo {
  color: #fff;
}

body {
  margin: 0;
}

body.color-negativo {
  background-color: #000;
}

.screen-readers {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header-principal {
  display: flex;
  flex-direction: column;
  min-height: 4em;
  margin-bottom: 20px;
}

.volvernos-virtuales .header-principal {
  background: #fff;
}

.header-principal > * + * {
  padding-top: 20px;
}

.header-principal .menu-mdr {
  align-self: flex-start;
}

.header-principal .menu-mdr > a {
  display: block;
  /*numero magico, pero no encontré forma de hacerlo funcionar bien*/
}

.header-principal .menu-mdr > a.img-logo {
  width: 91px;
}

.header-principal .menu-mdr > a > img {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .header-principal .menu-mdr > a > img {
    margin-left: auto;
  }
}

.header-principal h1 {
  text-transform: uppercase;
  margin: 0;
}

.header-principal > div > * + * {
  display: block;
  padding-top: 20px;
}

.header-principal nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  /*cluster pattern*/
  margin-left: -20px;
  margin-top: -20px;
  flex-direction: column;
}

@media (min-width: 800px) {
  .header-principal nav ul {
    flex-direction: row;
  }
}

.header-principal nav ul > * {
  /*cluster pattern*/
  padding-left: 20px;
}

@media screen and (min-width: 800px) {
  .header-principal nav ul > * {
    padding-top: 20px;
  }
}

.header-principal a {
  text-decoration: none;
}

.header-principal a.active {
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .header-principal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header-principal > .menu-mdr {
    order: 100;
    text-align: right;
  }
}

.header-principal.header-home {
  width: 100%;
  flex-wrap: wrap;
}

.header-principal.header-home .logo {
  margin-top: 20px;
}

.header-principal.header-home .curaduria {
  padding: 0;
  align-self: flex-start;
}

.header-principal.header-home .menu-general-header {
  order: 4;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .header-principal.header-home .logo {
    order: 2;
    margin-top: auto;
    padding-bottom: 5px;
  }
  .header-principal.header-home .logo img {
    margin-left: auto;
    display: block;
  }
  .header-principal.header-home .lista-artistas {
    order: 1;
  }
  .header-principal.header-home .curaduria {
    order: 3;
  }
  .header-principal.header-home .menu-general-header {
    order: 4;
  }
  .header-principal.header-home .menu-general-header ul {
    justify-content: flex-end;
  }
}

.header-principal.header-home p {
  margin: 0;
}

.header-principal.header-home > * {
  width: 50%;
  height: 50%;
}

.header-principal.header-home > * > * {
  height: 50%;
}

@media screen and (min-width: 800px) {
  .header-principal.header-home {
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .header-principal .nombres-artistas {
    width: 50%;
    font-size: 0.9em;
  }
}

.fondo-blanco-header-home {
  background-color: #fff;
}

@media screen and (min-width: 800px) {
  .fondo-blanco-header-home {
    background-color: transparent;
  }
}

body.color-negativo .header-principal a {
  text-decoration: none;
}

body.color-negativo .header-principal a.active {
  background-color: #fff;
  color: #000;
}

a:link, a:visited, a:hover, a:active {
  color: #000;
}

body.color-negativo a:link, body.color-negativo a:visited, body.color-negativo a:hover, body.color-negativo a:active {
  color: #fff;
}

.typewrite-large {
  font-size: 2em;
}

.viewport {
  position: relative;
}

.viewport.is-restricted {
  height: 90vh;
  overflow: hidden;
}

.viewport .texto-home {
  font-family: "Cutive Mono", monospace;
  text-align: center;
  max-width: 100%;
}

.viewport .texto-home.is-hidden {
  display: none;
}

.viewport .texto-home > p {
  width: 100%;
  min-height: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.texto-home {
  font-family: "Cutive Mono";
}

.botones-home {
  height: 10vh;
}

.botones-home button {
  border: none;
  background: none;
  font-family: "Cutive Mono", monospace;
  cursor: pointer;
  font-size: 0.7em;
}

.home button {
  font-family: "Cutive Mono", monospace;
  color: #aaa;
  background: none;
  border: none;
  font-size: 1em;
}

.home .botones {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-size: 0.7em;
  z-index: 10000;
}

.seleccion-de-obras {
  /*Grilla de links*/
  /*Links*/
}

.seleccion-de-obras ul.grilla-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 0;
  padding-left: 0;
  /*li*/
}

.seleccion-de-obras ul.grilla-base > * {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 60px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .seleccion-de-obras ul.grilla-base > * {
    width: 35%;
    padding-left: 60px;
  }
}

.seleccion-de-obras ul.grilla-base ul.artistas {
  list-style: none;
}

.seleccion-de-obras a {
  transform-origin: right;
  transform: translate(0, 0);
  justify-content: flex-start;
  display: flex;
  text-decoration: none;
}

@media (min-width: 800px) {
  .seleccion-de-obras a {
    transform: translate(var(--offsetX), var(--offsetY));
    justify-content: flex-end;
  }
}

.seleccion-de-obras a h3 {
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.seleccion-de-obras a > * + * {
  padding-left: 20px;
}

.seleccion-de-obras a:hover * {
  background-color: #000;
  color: #fff;
}

.scrambled-text {
  /*ESTILOS DE FONDO IMAGEN*/
  width: 100%;
  height: 100vh;
  background: url("../img/fondo-letras-mobile.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
}

@media screen and (min-width: 800px) {
  .scrambled-text {
    top: 15vh;
    background: url("../img/fondo-letras-desktop.png");
  }
}

.scrambled-text > * {
  display: none;
}

.scrambled-text * {
  position: absolute;
  transform: translate(var(--offsetX), var(--offsetY));
}

.scrambled-text p {
  max-width: 40vw;
  line-height: 1em;
}

@media screen and (min-width: 800px) {
  .scrambled-text {
    /*ESTILOS DE FONDO IMAGEN*/
  }
}

.footer-ficciones-y-obras {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1em;
}

.grilla-bios {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .grilla-bios > * {
    width: calc(50% - var(--espacio1));
  }
}

.bio {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.bio p {
  margin-bottom: 0;
  margin-top: 0;
}

.bio img {
  width: 100%;
  padding-bottom: 20px;
  object-fit: contain;
  object-position: top;
}

.bio h3 {
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .bio {
    flex-direction: row;
  }
  .bio .texto-bio {
    padding-left: 20px;
    width: 66%;
  }
  .bio img {
    width: 33%;
    height: 100%;
  }
}

.separador-caron {
  width: 100%;
  display: flex;
  justify-content: center;
}

.separador-caron img {
  width: 30px;
}

.espaciador {
  width: 100%;
  height: 100px;
}

.l-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.l-cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l-cover .l-cover-main {
  flex-grow: 1;
}

.l-stack {
  padding-top: 20px;
}

.l-stack > * {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.l-cluster .l-cluster__inner {
  margin-left: -20px;
  margin-top: -20px;
}

.l-cluster .l-cluster__inner > * {
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .desktop-only {
    display: none;
  }
}

/*CREADAS EN UN SANDBOX. Se van a integrar después al resto del código*/
.l-series-glosario:not(.disabled) {
  font-family: serif;
  color: #000;
  font-size: 1.2em;
}

.l-series-glosario:not(.disabled) ul {
  min-height: 70vh;
  list-style: none;
  position: relative;
}

.l-series-glosario:not(.disabled) li {
  position: absolute;
  top: calc(30% + var(--dy2));
  left: calc(40% + var(--dx));
  font-size: calc(1em * var(--ds));
  opacity: .7;
}

.l-series-glosario:not(.disabled) li:hover {
  opacity: 1;
  background-color: #000;
}

.l-series-glosario:not(.disabled) li:hover a {
  color: #fff;
}

@media (min-width: 800px) {
  .l-series-glosario:not(.disabled) li {
    font-size: calc(2em * var(--ds));
    top: calc(30% + var(--dy));
    left: calc(40% + var(--dx));
  }
}

.l-series-glosario:not(.disabled) li.disabled {
  opacity: 0.25;
  background-color: transparent;
}

.l-series-glosario:not(.disabled) li a {
  text-decoration: none;
}

.l-series-100vh {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-series-100vh img {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.l-series-invencion {
  display: flex;
  flex-wrap: wrap;
}

.l-series-invencion p {
  text-align: center;
  margin: auto;
}

.l-series-invencion .grilla {
  width: 100%;
}

.l-series-invencion .grilla__internal {
  margin-left: -20px;
  margin-top: -20px;
}

.l-series-invencion .grilla__internal > * {
  margin-left: 20px;
  margin-top: 20px;
  width: calc(33% - 20px);
  height: 20em;
  object-fit: cover;
}

.l-series-seccion-espaciada {
  margin-top: 60px;
}

.l-series-grilla-fotos__internal {
  margin-left: -20px;
  margin-top: -20px;
}

.l-series-grilla-fotos__internal img {
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #eee;
  width: calc(100% - 20px);
  height: 30em;
}

@media screen and (min-width: 800px) {
  .l-series-grilla-fotos__internal img {
    width: calc(50% - 20px);
  }
}

.l-series-panel-dos-imagenes__internal {
  margin-left: -20px;
  margin-top: -20px;
}

.l-series-panel-dos-imagenes__internal div {
  float: left;
  position: relative;
  width: calc(100% - 20px);
  height: 15em;
  margin-left: 20px;
  margin-top: 20px;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .l-series-panel-dos-imagenes__internal div {
    width: calc(50% - 20px);
    height: 30em;
  }
}

.l-series-panel-dos-imagenes__internal div img {
  width: 100%;
  transform: translate(0, -10%);
}

.l-series-panel-dos-imagenes__internal div .texto-superpuesto-blanco {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
}

.l-series-lista {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}

.l-series-lista .item {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  /*ratio 1:1*/
  width: 100%;
  padding-top: 100%;
  background-color: white;
}

@media (min-width: 800px) {
  .l-series-lista .item {
    width: calc(50% - 20px);
    padding-top: calc(50% - 20px);
  }
}

.l-series-lista img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-series-lista .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  padding: 5%;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 33%;
  font-size: .8em;
  opacity: 1;
  transition: .4s;
}

@media screen and (min-width: 800px) {
  .l-series-lista .texto {
    opacity: 0;
  }
}

.l-series-lista .texto:hover {
  opacity: 1;
}

.l-series-lista .texto > * {
  margin: 0;
}

.color-negativo .l-series-lista .texto {
  color: black;
}

.container-volvernos-virtuales {
  width: 100%;
  height: 268vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 2.25fr;
  gap: 0px 0px;
  grid-template-areas: "video1" "video2" "video3" "video4";
}

@media screen and (min-width: 800px) {
  .container-volvernos-virtuales {
    height: 84.375vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "video1 video4" "video2 video4" "video3 video4";
  }
}

.contenedor-video-yt {
  overflow: hidden;
  position: relative;
}

.contenedor-video-yt > iframe {
  width: 100%;
  height: 400%;
  transform: translateY(-37.5%);
}

.video1 {
  grid-area: video1;
}

.video2 {
  grid-area: video2;
}

.video3 {
  grid-area: video3;
}

.video4 {
  grid-area: video4;
}

.tres-columnas {
  display: flex;
}

.tres-columnas > * {
  width: 33%;
}

.tres-columnas-fragilidad {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tres-columnas-fragilidad > * {
  width: 100%;
  height: 100vw;
}

@media screen and (min-width: 800px) {
  .tres-columnas-fragilidad > * {
    width: 33.333%;
    height: 30vw;
  }
}

.tres-columnas-fragilidad > * img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-img-cuadrada-cover {
  outline: 1px solid blue;
}

.dos-columnas-desktop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dos-columnas-desktop > * {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .dos-columnas-desktop {
    flex-wrap: nowrap;
  }
  .dos-columnas-desktop > * {
    width: 50%;
  }
}

.gif-coleccion-pandemica {
  width: 100%;
  cursor: pointer;
}

.texto-coleccion-pandemica {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.stack-simple > * + * {
  margin-top: 60px;
}

.single-element-fullscreen-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.single-element-fullscreen-background > * {
  width: 100%;
  height: 100%;
}

.single-element-fullscreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.single-element-fullscreen > * {
  width: 100%;
  height: 100%;
}

.contenedor-imagen-fullscreen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  outline: 1px solid white;
}

.contenedor-imagen-fullscreen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame-imagen-fullsize-nonfullheight {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.frame-imagen-completa-laberinto {
  width: 100vw;
  height: auto;
  object-fit: contain;
}

.grilla-laberinto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grilla-laberinto img {
  display: block;
}

.gl-h-200vw {
  height: 200vw;
}

.gl-h-300vw {
  height: 300vw;
}

.gl-h-400vw {
  height: 400vw;
}

.block {
  display: block;
}

.tres-columnas-wrap {
  display: flex;
  flex-wrap: wrap;
}

.tres-columnas-wrap > * {
  width: 33%;
}

.tres-columnas-wrap > * > img {
  width: 100%;
  height: auto;
}

.full-width-auto-height-background {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.zindex1000 {
  z-index: 1000;
}

.no-link-decoration {
  text-decoration: none;
}

.serif {
  font-family: serif;
}

.texto-grande {
  font-size: 1.5em;
}

.texto-clarito {
  color: #555;
}

.texto-oscuro {
  color: black;
}

.medio-ancho-centrado {
  width: 50%;
}

.dos-tercios-ancho-centrado {
  width: 66%;
}

.no-decoration {
  text-decoration: none;
}

.hover-resaltado-invertido:hover {
  background-color: #fff;
  color: #000 !important;
}

.pad-small {
  padding: 5px;
}

img.w100h100 {
  width: 100%;
  height: 100%;
}

.absolute-positioned-header-container {
  position: absolute;
  top: 0;
  left: 5vw;
  z-index: 10;
}

.absolute-positioned-footer-container {
  position: absolute;
  bottom: 0;
  left: 5vw;
  z-index: 10;
}

.hidden {
  display: none;
}

.position-relative {
  position: relative;
}

.contenedor-posicion-absoluta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-posicion-absoluta > * {
  position: absolute;
  left: var(--x);
  top: var(--y);
}

.box-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-transparent-black {
  background-color: rgba(0, 0, 0, 0.7);
}

.six-columns {
  columns: 6;
}

.no-list-style {
  list-style: none;
}

.slick-vertical .slick-slide {
  border: 0;
}

ul.slick-dots {
  z-index: 100;
  position: absolute;
  bottom: 30px;
  max-height: 60vh;
  left: 5vw;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul.slick-dots > li button {
  display: block;
  height: 10px;
  width: 10px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  font-size: 0;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
}

ul.slick-dots li.slick-active button {
  background-color: white;
}

@media screen and (min-width: 800px) {
  ul.slick-dots {
    left: 2vw;
    bottom: 50%;
    transform: translateY(50%);
  }
}

.miriam-slider-arrows .arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 2vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  cursor: pointer;
}

.miriam-slider-arrows .arrow.prev-arrow {
  top: 40vh;
  background-image: url("../img/flecha-arriba.svg");
}

.miriam-slider-arrows .arrow.next-arrow {
  bottom: 40vh;
  background-image: url("../img/flecha-abajo.svg");
}

.featherlight .featherlight-content {
  padding: 0;
  border: 0;
}

.featherlight-previous {
  left: 0;
  top: 0;
}

.featherlight-previous span {
  text-shadow: none;
}

.featherlight-next {
  right: 0;
  top: 0;
}

.featherlight-next span {
  text-shadow: none;
}
