* {
  box-sizing: border-box;
}

.icono {
  width: 40px;
  height: 40px;
  padding: 3px;
  box-sizing: border-box;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  color: #bbb;
  border: 1px solid #bbb;
  cursor: pointer;
  font-size: 1em;
  padding: 14px 28px;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.link-boton {
  text-transform: uppercase;
  background-color: transparent;
  color: #bbb;
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 7px 14px;
  font-size: 0.9em;
}

p {
  margin: 0;
  line-height: 1.8em;
  font-weight: 300;
  color: #bbb;
  letter-spacing: 0.02em;
  font-size: 0.95em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

h2 {
  font-weight: 300;
  font-size: 1.4em;
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
}

h4 {
  font-weight: 600;
}

.invisible {
  display: none;
}

.c-s05 {
  --espaciado: $espacio05;
}

.c-s1 {
  --espaciado: $espacio1;
}

.adjust-to-menu-width {
  width: calc(100% - 70px);
  margin-left: 70px;
}

.ignore-menu-width {
  width: calc(100% + 70px);
  margin-left: calc(-1 * 70px);
}

.top-page-padded {
  padding-top: 14px;
}

section {
  min-height: 100vh;
}

section.separador-secciones {
  padding-top: 100px;
}

.c-stack > * + * {
  margin-top: 14px;
}

.c-stack--s1 > * + * {
  margin-top: 14px;
}

.c-stack--s2 > * + * {
  margin-top: 28px;
}

.c-stack--s3 > * + * {
  margin-top: 42px;
}

.c-panels {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.c-panels > * {
  width: 100%;
  min-height: 50vh;
}

@media screen and (min-width: 800px) {
  .c-panels > * {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .c-panels.flip > *:first-child {
    order: 10;
  }
}

.c-centered-cards {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-centered-cards > * + * {
  margin-top: 28px;
}

@media screen and (min-width: 800px) {
  .c-centered-cards {
    flex-direction: row;
  }
  .c-centered-cards > * + * {
    margin-left: 28px;
    margin-top: 0;
  }
}

.c-grid {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .c-grid > * {
    width: 33.33%;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  color: white;
  font-family: "Open sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.breadcrumbs {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 300;
}

.breadcrumbs * + *::before {
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  background-image: url("../img/icono-descendiente.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.branding {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 14px;
  padding-left: 14px;
  transition: 0.4s;
}

.branding > * + * {
  padding-left: 14px;
}

.branding h1 {
  font-weight: 300;
}

.branding.is-scrollable {
  position: fixed;
  top: 0;
  left: 0;
}

.branding.is-scrolled {
  padding-top: var(--padding);
  transition: 0.4s;
  opacity: 0;
}

.navegacion-principal {
  position: fixed;
  bottom: 14px;
  padding-left: 14px;
  left: 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  z-index: 100;
  transition: 0.4s;
}

.navegacion-principal .box-titulo-seccion-actual {
  width: 70px;
  margin-left: -14px;
}

.navegacion-principal .titulo-seccion-actual {
  transform-origin: 0 50%;
  transform: rotate(-90deg);
  margin-left: 50%;
  margin-bottom: 1em;
  letter-spacing: 0.4em;
  color: #bbb;
  transition: 0.4s;
}

.navegacion-principal .titulo-seccion-actual.is-hidden {
  opacity: 0;
  transition: 0.4s;
}

.navegacion-principal .overlay-menu-open {
  display: none;
  z-index: -1;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 23em;
  width: 20em;
  opacity: 0.9;
  transition: 0.4s;
}

.navegacion-principal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navegacion-principal ul > * + * {
  padding-top: 7px;
}

.navegacion-principal.icono {
  width: 70px;
}

.navegacion-principal a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #bbb;
  transition: 0.4s;
}

.navegacion-principal a:hover {
  color: #ffffff;
  transition: 0.4s;
}

.navegacion-principal a > * + * {
  padding-left: 14px;
}

.navegacion-principal .toggle-menu {
  position: fixed;
  top: -100px;
  left: 14px;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
}

.navegacion-principal .item-menu-principal span {
  transition: 0.6s;
}

.navegacion-principal #js-item-menu-portada {
  transition: 0.4s;
}

.navegacion-principal #js-item-menu-portada.is-scrollable {
  opacity: 0;
}

.navegacion-principal.is-scrolled .overlay-menu-open {
  display: block;
}

.navegacion-principal.is-scrolled #js-item-menu-portada {
  transition: 0.4s;
  opacity: 1;
}

.navegacion-principal.is-scrolled .toggle-menu {
  transition: 0.4s;
  opacity: 1;
  top: 14px;
}

.navegacion-principal.is-closed .item-menu-principal span {
  margin-left: -300px;
  transition: 0.6s;
  opacity: 0;
  padding: 2px;
}

.navegacion-principal.is-closed .item-menu-principal:hover {
  transition: 0.4s;
}

.navegacion-principal.is-closed .item-menu-principal:hover span {
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.navegacion-principal.is-closed .overlay-menu-open {
  margin-left: -20em;
}

.navegacion-principal.is-invisible {
  opacity: 0.5;
  transition: 0.4s;
  margin-left: -100px;
}

.navegacion-principal.is-invisible .toggle-menu {
  transition: 0.4s;
  opacity: 0;
  left: -100px;
}

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.4s;
}

#portada {
  background-image: url("../img/Frame video portada.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover > .cover-main {
  margin-top: auto;
  margin-bottom: auto;
}

.banner-titulo {
  display: flex;
  position: relative;
  height: 6em;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 1.4em;
}

.banner-titulo::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #000000;
  opacity: 0.7;
  z-index: -10;
}

.grilla-paneles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 800px) {
  .grilla-paneles {
    flex-direction: row;
  }
}

.grilla-paneles > a {
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  z-index: 0;
}

.grilla-paneles > a::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: -10;
  transition: 0.4s;
}

.grilla-paneles > a:hover::before {
  opacity: 0.95;
  transition: 0.4s;
}

.grilla-paneles > a > * {
  position: absolute;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .grilla-paneles > a > * {
    text-align: left;
    width: 100vh;
    transform-origin: 0% 50%;
    transform: rotate(-90deg) translate(-50vh, 0);
    left: 50%;
    padding-left: 14px;
  }
}

.cuadro-texto {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 28px;
}

.seccion-texto {
  padding-right: 28px;
}

.img-parallax {
  background: var(--bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-imagen img {
  width: 100%;
  height: 14em;
  object-fit: cover;
}

.card-imagen .cuadro-texto {
  padding-left: 0;
}

.card-icono {
  width: 10em;
  height: 10em;
  background-color: #333333;
  color: #ffffff;
}

.card-icono * {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.card-icono .label {
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

.card-horizontal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .card-horizontal {
    flex-direction: row;
  }
}

.card-horizontal > .imagen-obra {
  height: 15em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 800px) {
  .card-horizontal > .imagen-obra {
    width: 75%;
  }
}

@media screen and (min-width: 800px) {
  .card-horizontal > .cuadro-texto {
    width: 25%;
  }
}

.imagen-galeria-obra {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.video-bg-portada {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -50;
}

.categoria-academico {
  display: flex;
  flex-direction: column;
}

.categoria-academico .box-titulo-academico {
  min-width: 15%;
  display: flex;
  padding-top: 28px;
}

@media screen and (min-width: 800px) {
  .categoria-academico {
    flex-direction: row;
  }
}

.navegacion-galeria {
  position: fixed;
  width: 70px;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.navegacion-galeria.is-hidden {
  margin-left: -100px;
  transition: 0.4s;
}

.navegacion-galeria > a {
  display: block;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  transition: 0.4s;
}

.navegacion-galeria > a.active {
  background-color: #ffffff;
  transition: 0.4s;
}
